@{
    ViewBag.Title = "Breaking news of Jonckers :)";
}
<div class="text-center">
    <h1>The Breaking News of Jonckers @@</h1>
    <h4>This is the home page. We can update some our news for our client. I think it will help us to broadcast our services and products to the customers</h4>
</div>

